.custom-hover {
  transition: color 0.3s ease, transform 0.3s ease;
}

.custom-hover:hover {
  color: var(--bs-primary);
  transform: translateY(-15px);
}

.nav-link.active {
  color: var(--bs-primary) !important;
}

.custom-toggler-icon {
  width: 30px;
  height: 3px;
  background-color: var(--bs-primary);
  display: block;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.custom-toggler-icon::before,
.custom-toggler-icon::after {
  content: "";
  width: 30px;
  height: 3px;
  background-color: var(--bs-primary);
  position: absolute;
  left: 0;
  transition: all 0.3s ease-in-out;
}

.custom-toggler-icon::before {
  top: -8px;
}

.custom-toggler-icon::after {
  top: 8px;
}

.navbar-toggler[aria-expanded="true"] .custom-toggler-icon {
  background-color: transparent;
}

.navbar-toggler[aria-expanded="true"] .custom-toggler-icon::before {
  top: 0;
  transform: rotate(45deg);
}

.navbar-toggler[aria-expanded="true"] .custom-toggler-icon::after {
  top: 0;
  transform: rotate(-45deg);
}
